<footer class="site-footer">
  <div class="wrap site-footer__grid">
    <div class="site-footer__about">
      <img class="site-footer__mark" src="{{ site.baseurl }}/images/logopic/mdppml-mark.png" alt="" width="56" height="48">
      <p class="site-footer__name">Medical Data Privacy and Privacy-Preserving Machine Learning</p>
      <p>We are part of the <a href="https://uni-tuebingen.de/en/faculties/faculty-of-science/departments/computer-science/department/">Department of Computer Science</a> and the <a href="https://uni-tuebingen.de/en/faculties/faculty-of-science/departments/interfaculty-facilities/ibmi/institute/">Institute for Bioinformatics and Medical Informatics (IBMI)</a> at the <a href="https://uni-tuebingen.de/en/">University of Tübingen</a>.</p>
    </div>

    <div>
      <h2 class="site-footer__heading">Funding</h2>
      <ul class="site-footer__list">
        <li>MDPPML, funded by <a href="https://www.bmbf.de/bmbf/de/home/home_node.html">BMBF</a></li>
        <li>PrivateAIM, funded by <a href="https://www.bmbf.de/bmbf/de/home/home_node.html">BMBF</a></li>
        <li>PriRare, funded by <a href="https://www.dfg.de/">DFG</a></li>
      </ul>
    </div>

    <div>
      <h2 class="site-footer__heading">Contact</h2>
      <address>
        University of Tübingen<br>
        Sand 14<br>
        72076 Tübingen, Germany
      </address>
      <p><a href="https://goo.gl/maps/qcoXi6fad1Mt7xb86">Open in Google Maps</a></p>
    </div>
  </div>
</footer>
