<div id="footer" class="panel">
  <div class="panel-footer">
	<div class="container-fluid">
	  <div class="row">
		<div class="col-sm-3">
		</div>
		<div class="col-sm-3">

		  
              <p>We are part of the <a href="https://uni-tuebingen.de/en/faculties/faculty-of-science/departments/computer-science/department/">Department of Computer Science</a> and <a href="https://uni-tuebingen.de/en/faculties/faculty-of-science/departments/interfaculty-facilities/ibmi/institute/">Institute for Bioinformatics and Medical Informatics (IBMI)</a> at <a href="https://uni-tuebingen.de/en/">University of Tübingen</a>.</p>


		   <p>  </p><p>


		</div>
		<div class="col-sm-3">
		  Fundings:<br />
      - MDPPML from <a href="https://www.bmbf.de/bmbf/de/home/home_node.html">BMBF</a><br />
      - PrivateAIM from <a href="https://www.bmbf.de/bmbf/de/home/home_node.html">BMBF</a><br />
      - PriRare from <a href="https://www.dfg.de/">DFG</a><br />
		</div>
		<div class="col-sm-3">
		  Contact:<br />
		  University of Tübingen<br />
		  Sand 14<br />
		  72076 Tübingen<br />
		  Germany<br />
            (<a href="https://goo.gl/maps/qcoXi6fad1Mt7xb86">Maps</a>)
		</div>
	  </div>
	</div>
  </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="{{ site.url }}{{ site.baseurl }}/js/bootstrap.min.js"></script>
